@using Application.ViewModels.SimulacionMacroIndicado
@model SimulacionMacroIndicadorCreateViewModel;
@{
    ViewBag.Title = "Agregar Macroindicador a Simulación";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="MacroIndicadorId" class="form-label"></label>
        <select asp-for="MacroIndicadorId" class="form-select" asp-items="@(new SelectList(Model.MacroIndicadoresDisponibles, "Id", "Nombre"))">
            <option value="">Seleccione un indicador</option>
        </select>
        <span asp-validation-for="MacroIndicadorId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Peso" class="form-label"></label>
        <input asp-for="Peso" class="form-control" />
        <span asp-validation-for="Peso" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Agregar</button>
    <a asp-controller="Simulacion" asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
