@using Application.ViewModels.ConfiguracionRetorno;
@model SaveConfiguracionRetornoViewModel
@{

    bool editmode = ViewBag.EditMode != null ? ViewBag.EditMode : false;
}


@{

    ViewBag.Title = "Guardar Tasa Retorno";
}

<div class="col-12  col-md-6 offset-md-3">
    <div class="card">
        <div class="card-hearder bg-success  text-ligh ">
            <h5 class="text-center">@(editmode ? "Editando la tasa de Retorno "  : "Agregando Tasa de Retorno") </h5>
            <h5 class="text-center"> Tasas de Retornos</h5>

        </div>
        <div class="card-body">
            <form asp-controller="ConfiguracionRetorno" asp-action="@(editmode ? "Edit" : "Create")" method="POST">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="TasaMaxima" class="form-label">Tasa Maxima:</label>
                    <input class="form-control" asp-for="TasaMaxima" />
                </div>

                <div class="mb-3">
                    <label asp-for="TasaMinima" class="form-label">Tasa Minima:</label>
                    <input class="form-control" asp-for="TasaMinima" />
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-primary float-end">Guardar</button>
                    <a asp-controller="ConfiguracionRetorno" asp-action="Index" class="btn btn-outline-warning me-2">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
